@import "material-components-web/material-components-web";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat|Pacifico|Preahvihear|Quicksand|Cabin|Libre+Franklin|Oxygen|Questrial|Titillium+Web|Work+Sans');
@import "./Header/Header";
@import "./Dashboard/Expense";
@import "./Dashboard/Widget";
@import "./Dashboard/Post";
@import "./Dashboard/Schedule";
@import "./Dashboard/Chat";
@import "Scrollbar";

html {
    background-image: url("/assets/images/png/red-light.png");
    background-position: 50% 50%;
    background-repeat: unset;
    background-size: auto;
}

.responsive {
    height: auto;
    width: auto;
    display: block;
}

:root {
    --mdc-theme-primary: #000000;
    --mdc-theme-secondary: #42A5F5;
    --mdc-theme-on-secondary: black;
    font-family: 'Oxygen', sans-serif !important;
}

.fill {
    max-width: 100%;
    max-height: 100%;
}

body {
    margin: 0;
    height: 100vh;
}

#root {
    height: 100%;
}

.overflow {
    overflow: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: unset;
    color: rgb(0, 0, 0);
    :link :visited :hover :active{
        color: rgb(0, 0, 0);
    }
}

.mdc-snackbar {
    border-top: 3px solid chartreuse;
    .mdc-button:not(:disabled) {
        color: rgb(17, 185, 73)
    }
}

.bottom-align {
    align-self: flex-end;
}