@import "material-components-web/material-components-web";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat|Pacifico|Preahvihear|Quicksand|Cabin|Libre+Franklin|Oxygen|Questrial|Titillium+Web|Work+Sans');
@import "./Header/Header";
@import "./Dashboard/Expense";
@import "./Dashboard/Widget";
@import "./Dashboard/Post";
@import "./Dashboard/Schedule";
@import "./Dashboard/Chat";
@import "Scrollbar";
html {
    background-image: url("/assets/images/png/red-light.png");
    background-position: 50% 50%;
    background-size: cover;
}

.responsive {
    height: auto;
    width: auto;
    display: block;
}

:root {
    --mdc-theme-primary: #000000;
    --mdc-theme-secondary: #42A5F5;
    --mdc-theme-on-secondary: black;
    font-family: 'Oxygen', sans-serif !important;
}

.fill {
    max-width: 100%;
    max-height: 100%;
}

body {
    margin: 0;
    height: 100vh;
}

#root {
    height: 100%;
}

.overflow {
    overflow: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: unset;
    color: rgb(0, 0, 0);
    :link :visited :hover :active {
        color: rgb(0, 0, 0);
    }
}

.mdc-snackbar {
    border-top: 3px solid chartreuse;
    .mdc-button:not(:disabled) {
        color: rgb(17, 185, 73)
    }
}

//Login
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: auto;
}

.flex-item {
    padding: 5px;
    margin: 0 auto;
}

.center {
    @media (max-width: 600px) {
        height: 100%;
        width: 100%;
    }
    @media (min-width: 600px) {
        height: 60%;
        width: 40%;
        border: 3px solid;
        border-radius: 5px;
    }
}

.mdc-text-field--box:not(.mdc-text-field--disabled) {
    background-color: transparent;
}

.login {
    height: 100vh;
    background-image: url("/assets/images/png/blue-light.png");
    background-position: center;
    background-size: cover;
    .mdc-tab {
        min-width: 0;
    }
}

.login .mdc-elevation-transition {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;
}